manifest {
    homePage = 'http://github.com/FredHutch/AMGMA/'
    description = 'Annotation of Microbial Genomes by Microbiome Association'
    mainScript = 'align.nf'
    recurseSubmodules = true
}


profiles{
    testing {
        process {
            executor = 'local'
            withLabel: 'io_limited' {
                cpus = 1
                memory = 2.GB
            }
            withLabel: 'mem_medium' {
                cpus = 2
                memory = 4.GB
            }
            withLabel: 'mem_veryhigh' {
                cpus = 2
                memory = 4.GB
            }
        }
        docker {
            enabled = true
            temp = 'auto'
        }
    }
    aws {
        process {
            executor = 'awsbatch'
            withLabel: 'io_limited' {
                cpus = { 1 * task.attempt }
                memory = { 2.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_medium' {
                cpus = { 4 * task.attempt }
                memory = { 30.GB * task.attempt }
                maxRetries = 3
            }
            withLabel: 'mem_veryhigh' {
                cpus = { 16 * task.attempt }
                memory = { 120.GB * task.attempt }
                maxRetries = 3
            }
        }
    }
}
